/* ------------------------------------------------------
    notecards.css
    A stylesheet for the notecards app.

    Written by John O'Hara, 2016-2017

    TODO:
        - Clean up organization and alphabetize 
        properties 


    color palette idea: base around rgb(6,133,255);

    rgb(28,37,46)?
------------------------------------------------------ */

* {
    font-family: 'Raleway', sans-serif;
    font-size: 1.0em;
    font-weight: 200;
    margin: 0;
    padding: 0;
    text-shadow: 1px 1px rgba(0,0,0,0.2);
}

body {
    min-height: 100vh;
}
/*
.content.container{
    min-height: 82vh;
}*/

/* ------------------------------------------------------
    Navigation 
------------------------------------------------------ */

.page-header{
    background: rgb(28,37,46);
    border: 0 0 1px 0 #fff;
    box-shadow: 0px 1px 4px rgba(0,0,0,0.4);
    color: #fff;
    margin: 0px;
    min-height: 74px;
    padding: 0px 0px 0px 35px;
}

.page-header h1 a{
    color: #fff;
    font-family: 'Raleway', sans-serif;
    font-size: 1.4em;
    font-weight: 500;
    text-decoration: none;
}

.page-header h1{
    display: inline-block;
    margin: 15px 0px;
    width: 50%;
}

/* ------------------------------------------------------
    Menu 
------------------------------------------------------ */

div.menu{
    float: right;
    font-size: 1.0em;
    padding: 4px;
}

div.menu, ul.user-menu{
    /*margin-right: 35px;*/
}

div.menu a{
    color: #fff;
    display: inline-block;
    /*margin-right: 1.0em;*/
    padding: 0px .25em;
    text-decoration: none;
    text-shadow: 1px 1px 4px rgba(0,0,0,0.7);
}

div.menu a span.glyphicon{
    color: #fff;
}

div.menu a.logged-out{
    font-size: 1.2em;
    min-height: 64px;
    padding: 1.2em;
}

ul.user-menu{
    /*background: rgba(255,255,255,0.4);*/
    /*background: rgba(25,65,104,1.0);*/
    background: #333;
    border: 0px 1px solid rgba(0,0,0,0);
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
    box-shadow: 0px 3px 8px rgba(0,0,0,0.4);
    color: #fff;
}

div.menu:hover, div.quiz-score{
    background: rgba(19,25,31,1.0);
    box-shadow: inset 0px 1px 8px rgba(0,0,0,0.3);
    border: 0px solid rgba(0,0,0,0.6);
    border-left: 1px;
    border-right: 1px;
}

div.menu:hover .user-menu{
    display: block;
}

img.user-avatar{
    border-radius: 50%;
    box-shadow: 0px 2px 8px rgba(0,0,0,0.3);
    height: 64px;
    margin-right: 1.0em;
    width: 64px;
}

div.logged-out-wrapper{
    align-items: center;
    display: flex;
    font-size: 1.2em;
    min-height: 64px;
}

div.menu-search-bar{
    align-items: center;
    display: flex;
    float: right;
    min-height: 74px;
}

div.menu-search-bar form input{
    /*background-color: #666;*/
    background-color: rgba(243, 243, 243, 1.0);
    border: 1px solid #bbb;
    border-radius: 25px;
    color: #222;
    margin: 0px 1.0em;
    outline: none;
    /*padding: .4em .4em .4em 1.8em;*/
    padding: .4em .8em;
    font-size: 1.4em;
}

div.menu-search-bar span.glyphicon{
    font-size: 1.4em;
    color: #ddd;
}

/* subsection - Menu Dropdown */
ul.user-menu{
    display: none;
    list-style-type: none;
    margin-top: 4px;
    min-width: 160px;
    position: absolute;
    right: 0px;
    z-index: 1;
}

ul.user-menu li.user-menu-item a{
    display: inline-block;
    margin: 0em;
    min-height: 2.0em;
    padding: 1.0em;
    transition: background .2s box-shadow .2s;
    width: 100%;
}

ul.user-menu li.user-menu-item a:hover{
    background: #555;
    box-shadow: inset 0px 1px 8px rgba(0,0,0,0.3);
}


/* ------------------------------------------------------
    Buttons
------------------------------------------------------ */

.btn {
    font-size: 1.1em;
}

.btn-default{
    background: rgb(28,37,46);
    color: #fff;
    text-shadow: 0px 0px 0px rgb(255,255,255);
    transition: box-shadow .2s;
}

.btn-default:hover{
    background: rgb(28,37,46);
    box-shadow: 0px 4px 8px rgba(0,0,0,0.3); 
    color: #fff;
}

/* ------------------------------------------------------
    Deck Meta & Card Meta
------------------------------------------------------ */

div.deck-meta, div.card-meta{
    min-height: 64px;
    margin: 20px 0px;
}

div.deck-meta p, div.card-meta p{
    font-size: 1.2em;
    width: 100%;
}

div.deck-meta p span.deck-origin{
    background: rgba(0,0,0,0.1);
    border-radius: 4px;
    color: rgba(0,0,0,1.0);
    font-size: 0.8em;  
    padding: .4em;  
}

div.deck-meta h1, div.card-meta h1{
    float: left;
    margin: 0px 0px 8px 0px;
    width: 50%;
}

div.deck-meta div.deck-controls, div.card-meta div.card-controls{
    float: right;
    font-size: 1.6em;
    margin-top: 20px;
    margin: 0px 0px 8px 0px;
    text-align: right;
    width: 50%;
}

div.deck-meta div.deck-controls a, div.card-meta div.card-controls a{
    text-decoration: none;
    display: inline-block;
    margin: 0em .5em;

    /* Test Values */
    border: 1px solid rgba(0,0,0,0.0);
    border-radius: 4px;
    padding: .5em;
    transition: background .2s;
}

.unclickable{
    color: rgba(0,75,107,0.3);
    display: inline;
    position: relative;
}

.unclickable:hover:after{
    background: rgba(0,0,0,0.8);
    border-radius: 5px;
    content: attr(tooltip);
    color: #fff;
    font-family: 'Raleway', sans-serif;
    font-size: 0.6em;
    padding: 5px 15px;
    position: absolute;
    right: 0px;
    top: 40px;
    text-align: left;
    width: 260px;
    z-index: 98;
}

/* ------------------------------------------------------
    Feedback
------------------------------------------------------ */

div.feedback-container{
    text-align: center;
}

div.feedback-positive, div.feedback-negative, div.feedback-neutral{
    border-bottom: 1px solid #fff;
    box-shadow: 0px 1px 8px rgba(0,0,0,0.2);
    font-size: 1.4em;
    font-weight: bold;
    padding: .8em 0em;

    /* tweak this */
    /*text-shadow: 1px 1px 1px rgba(0,0,0,.75);*/
}

div.feedback-none{
    display: none;
}

div.feedback-positive{
    background: rgba(161,247,175,1.0);
    border-color: rgba(46, 156, 56, 1.0);
    color: rgba(46, 156, 56, 1.0);
}

div.feedback-negative{
    background: rgba(255,189,191,1.0);
    border-color: rgba(207, 50, 53, 1.0);
    color: rgba(207, 50, 53, 1.0);
}

div.feedback-neutral{
    background: rgba(255,223,165,.4);
    border-color: rgba(240, 163, 28, 1.0);
    color: rgba(240, 163, 28, 1.0);
}

/* ------------------------------------------------------
    Form Elements
------------------------------------------------------ */

.card-form textarea{
    background: rgba(0,0,0,0.03);
    border: 1px solid #bbb;
    box-shadow: 0px 6px 10px rgba(0,0,0,0.2);
    font-size: 2.0em;
    height: 8.0em;
    margin: 2%;
    width: 45%;
    text-align: center;
}

.card-form label{
    display: none;
}

.card-form {
    width: 90%;
    margin: 1.0em auto;
}

.card-form button{
    display: block;
    margin: 0 auto;
    width: 40%;
}
.deck-form{
    margin: 1.0em auto;
    width: 90%;
}

.deck-form label{
    display: none;
}

.deck-form input#id_title{
    border: 1px solid #bbb;
    border-radius: 5px;
    font-size: 1.2em;
    min-height: 50px;
    padding: .8em;
    width: 80%;
}

.deck-form button.save{
    background: rgb(28,37,46);
    color: #fff;
    width: 10%;
    margin: 0 2%;
    min-height: 50px;
    padding: .8em;
}

/* ------------------------------------------------------
    Footer
------------------------------------------------------ */

div.footer{
    background: #333;
    bottom: 0;
    box-shadow: inset 0px 1px 12px rgba(0,0,0,0.8);
    color: #fff;
    font-weight: bold;
    margin: 15px 0px 0px 0px;
    min-height: 80px;
    padding: 2.0em;
    position: relative;
    width: 100%;
    z-index: 150;
}

div.footer a{
    color: #eee;
}

div.footer-left{
    float: left;
}

div.footer-right{
    float: right;
}

/* ------------------------------------------------------
    Glyphicons
------------------------------------------------------ */

.glyphicon{
    color: #004B6B;;
}

/* ------------------------------------------------------
    Headers
------------------------------------------------------ */

h1, h2, h3, h4, h5 {
    /*font-family: 'Space Mono', monospace;*/
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
}

/* ------------------------------------------------------
    Hyperlinks
------------------------------------------------------ */

a{
    color: rgba(0,75,107,1.0);
    text-decoration: underline;
}

a .glyphicon-remove{
    color: rgba(207, 50, 53, 1.0)
}

/* ------------------------------------------------------
    Deck List Table - deck_view.html
------------------------------------------------------ */

table.deck-table{
    font-size: 1.2em;
    margin: 1.0em 0;
    width: 100%;
}

.deck-table tr.deck-table-row{
    transition: background .1s;
}


.deck-table tr.deck-table-row:hover{
    /*background-color: rgba(255,223,165,.4);*/
    background: rgba(179, 212, 251, 0.5);;
}

.deck-table-header th{
    padding: .6em .6em .6em .6em;
}

.deck-table-header th:first-child, .deck-table-header th:last-child{
    padding: .6em .6em .6em .6em;
}

.deck-table-header th:hover{
    background-color: #ddd;
}

.deck-table-header th:hover span.glyphicon{
    opacity: 0.75;
}

.deck-table a{
    display: block;
    padding: .6em .6em .6em .6em;
    text-decoration: none;
}


.deck-table tr:first-child{
    background-color: #eee;
}


.deck-table td{
    /*border: 1px solid #bbb;*/
    border-top: 1px solid #bbb;
}

.deck-table th, .deck-table td{
    /*padding: .6em .3em .6em .6em;*/
}

.deck-table th a{
    color: rgba(0,0,0,1.0);
    padding: 0;
}

.deck-table-row td:last-child{
    text-align: center;
}

td span.glyphicon-lock{
    color: rgba(0,0,0,0.4);
}

.centered-cell{
    text-align: center;
}

table.deck-table th span.glyphicon{
    color: rgba(0,0,0,0.8);
    font-size: 0.5em;
    opacity: 0.0;
}

table.deck-table td span.glyphicon{
    font-size: 0.8em;
}

/* ------------------------------------------------------
    Deck Warning
------------------------------------------------------ */

div.deck-warning{
    background: rgba(0,0,0,0.03);
    border: 1px solid #bbb;
    box-shadow: 0px 6px 10px rgba(0,0,0,0.2);
    color: rgba(0,0,0,0.5);
    font-size: 1.4em;
    font-style: italic;
    margin: 1.0em auto;
    padding: 2.0em;
    text-align: center;
    width: 90%;
}

/* ------------------------------------------------------
    Card Table
------------------------------------------------------ */

.card-table{
    width: 90%;
    margin: 0 auto;
    font-size: 1.4em;
    border-collapse: separate;
    border-spacing: 1.0em;
}

.card-table .card-table-header th{
    text-align: center;
    font-size: .8em;
    font-style: italic;
}

.card-front, .card-back{
    text-align: center;
    border: 1px solid #bbb;
    font-size: 1.6em;
    padding: 2.6em 1.0em;
    width: 11em;
    background-color: rgba(0,0,0,0.03);
}

div.card-wrapper{
    border: 1px solid rgba(0,0,0,0);
    border-radius: 5px;
    transition: background .2s;
}

div.card-wrapper:hover, div.deck-meta div.deck-controls a:hover{
    background: rgba(255,223,165,.2);
    border: 1px solid rgba(240, 163, 28, .6);
}

div.deck-wrapper, div.card-wrapper{
    overflow: auto;
}

a.card-edit-link{
    color: #222;
}

/* ------------------------------------------------------
    Login Page & Deck Edit Forms 
------------------------------------------------------ */

div.login-wrapper, div.deck-edit-wrapper, div.user-profile-wrapper, div.http-error-wrapper{
    border: 1px solid #bbb;
    box-shadow: 0px 6px 10px rgba(0,0,0,0.2);
    margin: 2.0em auto;
    padding: 2.0em;
    width: 45%;
}

div.deck-edit-wrapper{
    width: 75%;
}


div.login-wrapper form{
    width: 100%;
}

.login-wrapper input#id_username, .login-wrapper input#id_password, .login-wrapper input#id_email,
.deck-edit-wrapper input#id_title, div.deck-edit-wrapper textarea#id_description{
    border: 1px solid #bbb;
    border-radius: 5px;
    font-size: 1.2em;
    margin-left: 1.0em;
    min-height: 50px;
    padding: .8em;
    width: 90%;
}

div.login-wrapper input.login-submit, div.deck-edit-wrapper input.edit-submit{
    background: rgb(28,37,46);
    color: #fff;
    margin-left: 1.9em;
    min-height: 50px;
    padding: .8em;
    width: 66%; 
}

/* ------------------------------------------------------
    Quiz CSS
------------------------------------------------------ */

div.quiz-score{
    background: #555;
    color: rgba(255,255,255,0.9);
    float: right;
    font-size: 1.8em;
    font-weight: 800;
    min-height: 64px;
    padding: .76em;
    text-shadow: 1px 1px 0px rgba(0,0,0,0.4);
}

ul.temp-quiz-list{
    float: left;
    list-style: none;
    margin: 2% 5%;
    width: 40%;
}

ul.temp-quiz-list li{
    padding: .5em;
}

ul.temp-quiz-list li a{
    border: 1px solid #bbb;
    box-shadow: 0px 6px 10px rgba(0,0,0,0.2);
    display: block;
    font-size: 1.2em;
    padding: 1.0em;
    text-decoration: none;
    transition: background .2s;
}

ul.temp-quiz-list li a:hover{
    background: rgba(179, 212, 251, 0.5);
}

/* ------------------------------------------------------
    Review CSS
------------------------------------------------------ */

div.review-content{
    min-height: 25em;
    margin: 3em 0;
}

div.front, div.back{
    /*
    background: rgba(0,0,0,0.05);
    
    The above evaluates down to the below:;
    */
    background: rgba(243, 243, 243, 1.0);
    border: 1px solid #bbb;
    box-shadow: 0px 6px 10px rgba(0,0,0,0.2);
    float: left;
    font-size: 1.6em;
    margin: 2% 5%;
    padding: 4em 1.0em;
    text-align: center;
    width: 40%;
    word-wrap: break-word;
}

div.front.small-card, div.back.small-card{
    font-size: 1.2em;
}

div.review-nav{
    display: flex;
    font-size: 1.4em;
    justify-content: space-around;
    margin: 1.5em auto;
    min-height: 6em;
    padding: 0em 6em;
    width: 100%;
    text-align: center;
}

div.review-nav a{
    padding: 2.0em 1.5em;
    text-decoration: none;
}

/*
div.review-nav a.review-prev{
    float: left;
    padding-right: 2.0em;
}

div.review-nav a.review-next{
    float: right;
    padding-left: 2.0em;
}

div.review-nav a:last-child{
    display: block;
    text-align: center;
}*/

div.review-nav span {
    padding: 0 0.5em;
}

.review-prev.faded-option{
    opacity: .3;
}

/* ------------------------------------------------------
    HTTP Error Pages
------------------------------------------------------ */

div.http-error-wrapper{
    font-size: 1.4em;
    overflow: auto;
    width: 80%;    
}

div.error-warning-sign{
    float: left;
    font-size: 3.0em;
    text-align: center;
    width: 20%;
}

div.error-warning-sign span.glyphicon.glyphicon-warning-sign{
    color: rgba(207, 50, 53, .8);
    text-shadow: 2px 2px 0px rgba(255,189,191,1.0);
}

div.error-content{
    float: left;
    width: 80%;
}

div.error-content h1{
    margin-top: 0px;
}

/* ------------------------------------------------------
    User Profile
------------------------------------------------------ */












/* --------------------------
    RESUME
            WORKING
                        HERE!

    -------------------------- */





/*
    flexbox layout?
*/









div.user-profile-wrapper{
    align-items: flex-start;
    display: flex;
    min-height: 182px;
    width: 80%;
}

div.user-profile-wrapper img.user-icon {
    align-self: flex-start;
    border-radius: 50%;
    margin-right: 2.0em;
}
