{% extends 'notecards/base.html' %}

{% block content %}

<div class="card-meta">
    <h1>Edit Card in '{{deck.title}}'</h1>
    <div class="card-controls">
        {% if user == deck.author %}
        <a href="{% url 'delete_card' pk=card_pk %}">
            <span class="glyphicon glyphicon-remove"></span>
            <span class="deck-edit">Delete</span>
        </a>
        {% endif %}
    </div>
</div>

{% if form.errors %}
    <p>There was an error editing this deck.</p>
    {{form.errors}}
{% endif %}

    <form method="post" class="card-form" action="{% url 'edit_card' deck_pk=deck_pk card_pk=card_pk%}">
    {% csrf_token %}
                {{ form }}
        <button type="submit" class="save btn btn-default">Save Changes</button>
    </form>
{% endblock %}