{% extends 'notecards/base.html' %}

{% block content %}
    <h1>Current Decks</h1>
    <table class="deck-table">

        <tr class="deck-table-header">
            <th>Deck</th>
            <th>Cards</th>
            <th>Author</th>
            <th>Created</th>
            <th>Remove?</th>
        </tr>

        {% for deck in decks %}
        <tr class="deck-table-row">
            <td><a href="{% url 'deck_view' pk=deck.pk %}">{{deck.title}}</a></td>
            <td class="centered-cell">{{deck.card_count}}</td>
            <td class="centered-cell">{{deck.author|capfirst}}</td>
            <td>{{deck.created_date}}</td>
            <td class="centered-cell">
                <a class="delete-link" href="{% url 'delete_deck' pk=deck.pk %}">
                    <span class="glyphicon glyphicon-remove"></span>
                </a>
            </td>
        </tr>
        {% endfor %}

    </table>

    <h2>Create a Deck</h2>
    <form method="POST" class="deck-form" action="{% url 'create_deck'%}">
        {% csrf_token %}
        {{ form }}
        <button type="submit" class="save btn btn-default">Create</button>
    </form>
{% endblock %}