{% extends 'notecards/base.html'%}

{% load mathfilters %}
{% load staticfiles %}

{% block pageheader %} - Quiz{% endblock %}

{% block menu %}
    <!-- <input type="checkbox" class="hotkey-toggle">-->
    <div class="menu">
        Score:
         {{quiz_correct}} / {{quiz_attempted}}  -  
         {{quiz_score}}%
    </div>
{% endblock %}

{% block feedback %}
    <div class="feedback-{{feedback_type}}">{{feedback_text}}</div>
{% endblock %}

{% block content %}

    <!-- jQuery for quiz hotkeys. -->
    <script src="{% static 'js/notecards-quiz-jquery.js' %}"></script>
    
    <div class="front">{{question}}</div>

    <!--- temporary UL to code functionality. Will be 
    clickable divs as blocks in future-->

    <ul class="temp-quiz-list">

    {% for answer in answers%}
        <li>
        <a href="{% url 'deck_quiz' pk=pk quiz_index=quiz_index|add:'1' answer_choice=answer.0 %}"
            class="quiz-answer-{{answer.2}}">{{answer.1}}</a>
        </li>

    {% endfor %}

    </ul>

{% endblock %}