{% extends 'notecards/base.html' %}

{% block content %}
    <h1>{{deck.title}}</h1>
    <ul>
        {% for card in cards %}
            <li>{{card.front}} -- {{card.back}} --
            <a href="{% url 'remove_card_from_deck' pk=card.pk%}">(remove)</a></li>
        {% endfor %}
    </ul>

    <h3>{{test_var}}</h3>

    <h2>Add a Card</h2>
    <form method="POST" class="deck-form" action="{% url 'add_card_to_deck' pk=deck.pk%}">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="save btn btn-default">Add to Deck</button>
    </form>
{% endblock %}