{% extends 'notecards/base.html' %}

{% block menu %}
    <div class="menu">
        <span class="deck-review">
            <a href="{% url 'deck_review' pk=deck.pk card_index=0 %}">Review</a>
        </span>

        {% if deck.card_count >= 4 %}
        <span class="deck-quiz">
            <a href="">Quiz</a>
        {% else %}
        <span class="deck-quiz unclickable" title="At least 4 cards are needed to make a Quiz.">Quiz
        {% endif %}
        </span>
    </div>
{% endblock %}

{% block content %}
    <h1>{{deck.title}}</h1>
    
    <table class="card-table">
        <tr class="card-table-header">
            <th>Front</th>
            <th>Back</th>
        </tr>
        {% for card in cards %}
            <tr class="card-table-row">
                <td class="card-front">{{card.front}}</td> 
                <td class="card-back">{{card.back}}</td>
                <!-- temporary change. How do I not have this break the table?
                <td class="card-remove">
                    <a href="{% url 'remove_card_from_deck' pk=card.pk%}">
                    <span class="glyphicon glyphicon-remove"></span>
                    </a>
                </td>-->
            </tr>
        {% endfor %}
    </table>

    <h2>Add a Card</h2>
    <form method="POST" class="card-form" action="{% url 'add_card_to_deck' pk=deck.pk%}">
        {% csrf_token %}
        {{ form }}
        <button type="submit" class="save btn btn-default">Add to Deck</button>
    </form>
{% endblock %}