{% extends 'notecards/base.html' %}

{% block content %}

<div class="deck-edit-wrapper">
<h1>Edit Deck</h1>

{% if form.errors %}
    <p>There was an error editing this deck.</p>
    {{form.errors}}
{% endif %}

    <form method="post" action="{% url 'edit_deck' pk=pk %}">
    {% csrf_token %}
        <p>
            {{form.title}}
        </p>

        <p>
            {{form.description}}
        </p>

        <p><input class="edit-submit save btn btn-default" type="submit" 
            value="Save Modifications"></p>
    </form>

</div>
{% endblock %}