{% extends 'notecards/base.html' %}

{% block content %}
    <h1>Current Decks</h1>
    <table class="deck-table">

        <tr class="deck-table-header">
            <!-- this... is kind of gross right now, but bear with me -->
            {% if sort_method == 'title' and sort_order == 'descending'%}
            <th><a href="{% url 'deck_list' sort_method='title' sort_order='ascending'%}">Deck</a></th>
            {% else %}
            <th><a href="{% url 'deck_list' sort_method='title' sort_order='descending'%}">Deck</a></th>
            {% endif %}

            {% if sort_method == 'card_count' and sort_order == 'descending'%}
            <th><a href="{% url 'deck_list' sort_method='card_count' sort_order='ascending'%}">Cards</a></th>
            {% else %}
            <th><a href="{% url 'deck_list' sort_method='card_count' sort_order='descending'%}">Cards</a></th>
            {% endif %}

            {% if sort_method == 'author__username' and sort_order == 'descending'%}
            <th><a href="{% url 'deck_list' sort_method='author' sort_order='ascending'%}">Author</a></th>
            {% else %}
            <th><a href="{% url 'deck_list' sort_method='author' sort_order='descending'%}">Author</a></th>
            {% endif %}

            {% if sort_method == 'created_date' and sort_order == 'descending'%}
            <th><a href="{% url 'deck_list' sort_method='created_date' sort_order='ascending'%}">Created</a></th>
            {% else %}
            <th><a href="{% url 'deck_list' sort_method='created_date' sort_order='descending'%}">Created</a></th>
            {% endif %}
            <!--
            <th><a href="{% url 'deck_list' sort_method='card_count'%}">Cards</a></th>
            <th><a href="{% url 'deck_list' sort_method='author'%}">Author</a></th>
            <th><a href="{% url 'deck_list' sort_method='created_date'%}">Created</a></th>-->
            <th>Remove?</th>
        </tr>

        {% for deck in decks %}
        <tr class="deck-table-row">
            <td><a href="{% url 'deck_view' pk=deck.pk %}">{{deck.title}}</a></td>
            <td class="centered-cell">{{deck.card_count}}</td>
            <td class="centered-cell">
                <a href="{% url 'user_profile' pk=deck.author.pk%}">{{deck.author|capfirst}}</a>
            </td>
            <td>{{deck.created_date}}</td>
            <td class="centered-cell">
                {% if user.is_authenticated and user == deck.author %}
                <a class="delete-link" href="{% url 'delete_deck' pk=deck.pk %}">
                    <span class="glyphicon glyphicon-remove"></span>
                </a>
                {% else %}
                <span class="glyphicon glyphicon-lock unclickable" 
                    tooltip="You don't have permission to delete this deck."></span>
                {% endif %}
            </td>
        </tr>
        {% endfor %}

    </table>

    {% if user.is_authenticated %}
    <h2>Create a Deck</h2>
    <form method="POST" class="deck-form" action="{% url 'create_deck'%}">
        {% csrf_token %}
        {{ form }}
        <button type="submit" class="save btn btn-default">Create</button>
    </form>
    {% endif %}
{% endblock %}