{% extends "user_profiles/user_base.html" %}

{% load staticfiles %}

{% block user_content%}

    <h1>Profile Overview</h1>

    <h2>Bio</h2>

    <p>This is some placeholder text. In the future, there will be a more fleshed out thing here that will allow users to fill in some personal information. This will be displayed here.</p>

    <h2>Tags of Interest</h2>

    <p class="deck-tags">
    {% for tag in favorite_tags %}

        <span class="deck-tag">
            <a href="{% url 'tag_deck_list' tag_word=tag.word %}">{{tag.word}}</a>
        </span>

    {% empty %}

        {% if request.user == selected_user %}
        You haven't
        {% else %}
        {{selected_user.username}} hasn't

    {% endif%}

    used any tags yet :(

    {% endfor %}

{% endblock %}